body {
    font-family: sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 3rem;
    color: #3b82f6;
}

.skills-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.skill-card:hover{
    background-color: #3b82f6;
    cursor: pointer;
}

.skill-card{
    background-color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}