.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
