.contact-form {
  background-color: #252525;
  padding: 30px;
  border-radius: 12px;
  margin-top: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background-color: #333;
  border: 1px solid #444;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.input-group {
  /* Mette Nome e Cognome sulla stessa riga */
  display: flex;
  gap: 15px;
}

.submit-btn {
  text-decoration: none;
  width: 100%;
  background-color: #3b82f6;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1rem;
}

.submit-btn:hover {
  background-color: #2563eb;
}
