.footer {
  margin-top: 50px;
  padding: 40px 0;
  border-top: 1px solid #fff;
  background-color: #1a1a1a;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 2%;
  margin-bottom: 20px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  cursor: pointer;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.copyright {
  font-size: 0.9rem;
  color: #555;
  text-align: center;
}
